nav {
    position: fixed;
     top: 0px;
    background: #0093af;
    padding: 5px 5px;
    z-index: 2;
    width: 100%;
    /*box-shadow: 1px 0px 16px 1px black;*/

}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
nav ul li{
    padding: 5px 0;
    cursor: pointer;
}
nav ul li.items{
    position: relative;
    width: auto;
    margin: 10px 15px;
    text-align: center;
    order: 3;
}
nav ul li.items:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #33ffff;
    opacity: 0;
    transition: all 0.2s linear;
}
nav ul li.items:hover:after{
    opacity: 1;
    bottom: 8px;
}
nav ul li.logo{
    flex: 1;
    color: white;
    font-size: 30px;
    font-weight: 600;
    cursor: default;
    user-select: none;
    padding: 5px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
}
nav ul li:hover a{
    color: blue;
}
nav ul li i{
    font-size: 25px;
}
nav ul li.btn{
    display: none;
}
nav ul li.btn.hide i:before{
    content: '\f00d';
}

/*.fas {*/
/*    position: absolute;*/
/*    font-size: 40px;*/
/*    right: 29px;*/
/*    top: 13px;*/
/*}*/

*{
    font-family: Cursive;

}



#second{
    width:90%;
    height: 700px;
    position: relative;
    left: 70px;
    top: 100px;

}

#desc{
    width: 55%;
    font-size: 25px;
    position: relative;
    left: 30px;
}
#dp{
    position: relative;
    left: 850px;
    bottom: 475px;
}
#skills{
    width: 90%;
    position: relative;
    left: 50px;
    height: 500px;

}
 #skill{
     width:50%;
     position: relative;
     left: 500px;
 }
#skillsimg{
    position: relative;
    bottom: 300px;
}
#project{
    width: 85%;
    position: relative;
    left: 150px;
    height: 700px;

}
.assingment2{
     position: relative;
    left: 400px;
    bottom: 550px;
}
.assingment3{
    position: relative;
    left: 800px;
    bottom: 1100px;
}

#contact{
    width: 85%;
    position: relative;
    left: 150px;
    height: 460px;


}


#input{
    width: 300px;
    height: 35px;
    display: block;
    position: relative;

    top: 10px;
}
.input{
    width: 560px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
#msg{
    width: 300px;
    height: 100px;
    position: relative;
    left: 200px;
}
#contimg{
    position: relative;
    left: 700px;
    bottom: 100px;
}





#footer{
    background: #0093af;
    width: 100%;
    color: white;
    position: center;
}
#cont{
    position: relative;
    text-align: center;
}